<!-- Social media icon bar -->

<div class="icon-bar">
  <a href="https://drive.google.com/file/d/1hufBnodympoZKA1cv_OIWE5MnpOLCAga/view?usp=sharing" class="pdf"><i class="fa fa-file-pdf-o"></i></a> 
  <a href="https://www.github.com/nfs002" class="github"><i class="fa fa-github"></i></a> 
  <a href="https://www.linkedin.com/in/nfs002/" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.youtube.com/channel/UC-823hVnptyoQBm0B82YJ-A" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>