<div class="photo-grid">
    <div class="row"> 

        <div class="column" style="padding-left: 0;">

            <div class="image-container">
                <a href="/posts/2019-06-16/stacsnet.html">
                    <img src="/images/photo-grid/stacs1.png">
                    <div class="text">
                        <p>
                            Stacsnet
                            <br><br>
                            A CS e-learning platform
                        </p>
                    </div>
                </a>
            </div>

            <div class="image-container">
                <a href="/posts/2019-07-27/cabaret.html">
                    <img src="/images/photo-grid/uber.jpg">
                    <div class="text">
                        <p>
                            Cabaret
                            <br><br>
                            An uber-like taxi dispatch system
                        </p>
                    </div>
                </a>
            </div>
            
            <div class="image-container">
                <img src="/images/photo-grid/auerbach.jpg">
            </div>

            <div class="image-container">
                <a href="/posts/2020-04-20/gallery.html">
                    <img src="/images/photo-grid/gallery.png" alt="Gallery logo">
                    <div class="text">
                        <p>
                            Gallery
                            <br><br>
                            P2P home-gallery network
                        </p>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <img src="/images/photo-grid/blue.jpg">
            </div>
        </div>

        <div class="column">
            <div class="image-container">
                <a href="/posts/2019-12-08/sevs.html">
                    <img src="/images/sevs/secure-voting.jpg">
                    <div class="text">
                        <p>
                            <br>
                            A cryptographic and secure electronic voting sysetem
                        </p>
                    </div>
                </a>
            </div>
            <a href="/posts/2019-06-23/ccp.html">
            <div class="image-container">
                <img src="/images/ccp/1.png">
                <p class="text">
                    C<sub>2</sub>P
                    <br><br>
                    Event ledger framework
                </p>
            </div>
            </a>
            <div class="image-container">
                <img src="/images/photo-grid/vienna.jpeg">
            </div>

            <a href="/posts/2020-03-26/catfish.html">
                <div class="image-container">
                    <img src="/images/catfish/logo.png">
                    <p class="text">
                        TinderCatfish
                        <br>
                        Tinder profile comments and reviews
                    </p>
                </div>
            </a>
            <a href="/posts/2019-06-27/ptb.html">
                <div class="image-container">
                    <img src="/images/ptb/2.png">
                    <p class="text">
                        PasseTonBillet
                        <br>
                        Selling used train tickets
                    </p>
                </div>
            </a>

        </div> 

        <div class="column">
            <div class="image-container">
                <img src="/images/photo-grid/sunflowers.jpg">
                
            </div>
            <div class="image-container">
                <img src="/images/photo-grid/fridlander.jpg">
            </div>

            <div class="image-container">
                <img src="/images/photo-grid/miro6.jpg">
            </div>

            <a href="/posts/2023-01-09/kefei.html">
                <div class="image-container">
                    <img src="/images/kefei/logo.jpg">
                    <p class="text">
                        Kefei 
                        <br>
                        Persistent variables in Kotlin
                    </p>
                </div>
            </a>

            <a href="/posts/2022-07-13/nnviz.html">
                <div class="image-container">
                    <img style="background-color: #e5eacb" src="/images/photo-grid/neural-network.png">
                    <p class="text">
                        NNViz
                        <br>
                        An interactive neural network visualisation
                    </p>
                </div>
            </a>
        </div>
        <a href="/posts/2019-06-19/agc.html">
            <div class="column" style="padding-right: 0;">
                <div class="image-container">
                    <img src="/images/photo-grid/poptree.png">
                    <div class="text">
                        <p>
                            The generational contract
                        </p>
                    </div>
                </div>

                <div class="image-container">
                    <img src="/images/photo-grid/resexp.png">
                    <div class="text">
                        <p>
                        <br>
                        Data visualusations on the 
                        millenial generation.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/posts/2020-03-22/dp3.html">
                <div class="image-container">
                    <img src="/images/photo-grid/bash.png">
                    <p class="text">
                        Dp3
                        <br>
                        CLI tool for YouTube -> mp3 downloads
                    </p>
                </div>
            </a>
            <a href="/posts/2019-06-27/cudo.html">
                <div class="image-container">
                    <img src="/images/cudo/logo.png">
                    <p class="text">
                        Cudo donate
                        <br>
                        Mining crypto for charity
                    </p>
                </div>
            </a>
            <a href="/posts/2019-07-05/stb.html">
                <div class="image-container">
                    <img src="/images/photo-grid/margin.png">
                    <p class="text">
                        SimpleTradingBot
                        <br>
                        <br>
                        Another Binance trading bot
                    </p>
                </div>
            </a>
            <a href="/posts/2021-11-04/donutstones.html">
                <div class="image-container">
                    <img src="/images/photo-grid/dripping-donuts.png">
                    <p class="text">
                        Donut Stones
                        <br>
                        <br>
                        My ERC20 token for social good
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>