/*--- LINKS -----------------------------------------------------------------*/

a {  
	text-decoration: none;
	color: $link-color; 

	&:visited { 
		color: lighten($link-color, 20); 
	}

	&:hover { 
		color: lighten($link-color, 20); 
	}

	&:focus { 
		outline: thin dotted; 
		color: darken($link-color, 20);
	}

	&:hover, 
	&:active { 
		outline: 0; 
	}
}

/*--- BLOCKQUOTE ------------------------------------------------------------*/

blockquote {
    border-left: 4px solid $border-color;
    font-size: 14px;
    font-family: $alt-font;
    margin-left: 1em;
    margin-right: 5em;
    padding-left: 15px;
    line-height: 22px;
}

/*--- CODE FORMAT -----------------------------------------------------------*/

tt, code, kbd, samp, pre {
	font-family: $code-font;
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
    margin: 0 2px;
	padding: 0 5px;
    font-size: 12px;
	line-height: 1.5;
    border: 1px solid lighten(#000, 90);
	background-color: lighten(#000, 95);
	border-radius: 3px;
}

pre {
    font-size: 12px;
	line-height: 1.5;
	overflow-x: auto;

	&::-webkit-scrollbar {
		height: 12px;
		background-color: #34362e;
		border-radius: 0 0 4px 4px;
	}

	&::-webkit-scrollbar-thumb:horizontal {
		background-color: #6a6d5d;
		border-radius: 4px;
	}
}

/*--- ABOUT SECTION (SOCIAL MEDIA) ------------------------------------------*/

.personal-social-media {
    word-spacing: 10px;
    
    img:hover {
        opacity: 0.5;
    }
}

/*--- DIVIDING LINE ---------------------------------------------------------*/

hr { 
    display: block; 
    margin: 1em 0 1.5em; 
    padding: 0;
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff; 
}

/*--- FIGURES & IMAGES ------------------------------------------------------*/

figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  img {
    margin-bottom: 0px;
  }
}

svg:not(:root) {
  overflow: hidden; 
}

/*--- PAGINATION ------------------------------------------------------------*/

.pagination {
    a{
        color: $base-color;
    }
    
    a:hover {
        color: lighten($base-color,30);
    }
    
    word-spacing: 10px;
}

/*--- EQUATIONS -------------------------------------------------------------*/

.has-jax {
    font: inherit; 
    font-size: 100; 
    background: inherit; 
    border: inherit;
    color: #006699;
}

/*--- NAVIGATION BAR --------------------------------------------------------*/

.navigation-bar {
    
    a{
        color: $nav-link-color
    }
    
    a:hover {
        border-bottom: 1px solid $nav-underline-link-color;
    }
    
    word-spacing: 20px;
}

/*--- TAGS ------------------------------------------------------------------*/

.inline-tags {
    font-size: 14px;

    a {
        color: #F2992E;
    }
    
    &:hover {
        color: lighten(#F2992E,20);
    }
}

/*--- GLOBAL TRANSITION -----------------------------------------------------*/

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	transition: all 0.2s ease;
}

/*--- MAIN CONTENT ----------------------------------------------------------*/

.entry-content {
    font-size: 16px;
    line-height: 26px;

    a {
        color: lighten($base-color,20);
    }

    a:hover {
        color: $nav-link-color;
        text-decoration: underline;
        text-decoration-color: $nav-underline-link-color;
    }

}

.entry-title {
    font-weight: 30;
}

.header-image {
    img:hover {
        opacity: 0.8;
    }
}

.post-date {
    font-size: 12px;
	text-transform: uppercase;
    color: lighten($base-color,50);

	a {
		color: lighten($base-color,50);
	}
    
    a:hover{
        color: $nav-link-color;
        text-decoration: underline;
        text-decoration-color: $nav-underline-link-color;
    }
}

header .entry-meta {
	display: none; // hide header meta on small screens

	@media #{$medium} {
		display: block;
	}
}

/*--- POST INDEX ------------------------------------------------------------*/
.wrap {
	max-width: 70vw;
    padding: 0 30px;
    margin: 0 auto;
	zoom: 1;
	
	hr {
		border: 0;
		background-color: $border-color;
        margin-bottom: 1em;
        height: 3px;
    }
    .photo-grid-title {
        color: $text-color;
        margin-bottom: 0;
    }
    .photo-grid {

        .row {
            display: flex;
            flex-wrap: wrap;

             /* Create four equal columns that sits next to each other */
            .column {
                flex: 25%;
                max-width: 25%;
                padding: 0 4px;
                .fake-image-container {
                    position: relative;
                    div {
                        margin-top: 8px;
                        background: rgb(255, 255, 255);
                        width: 100%;
                        border: 1px solid black;
                    }
                }
                .image-container {
                    position: relative;

                    img {
                        margin-top: 8px;
                        vertical-align: middle;
                        width: 100%;
                        border: 1px solid black;
                        opacity: 1;
                        transition: .5s ease;
                    }

                    .text {
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 80%;
                        height: 80%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        text-align: center;

                        p {
                            color: $text-color;
                            font-size: 16px;
                        }
                    }
                }
                .image-container:hover {
                    img {
                        opacity: 0.3;
                        border: 1px solid black;
                    }
                    .text {
                        opacity: 1;
                    }
                    p {
                        font-size: 14px;
                    }
                    p::first-line {
                        text-decoration: underline;
                        text-decoration-style: solid;
                        text-underline-position: under;
                        text-decoration-color: $nav-underline-link-color;
                    }
                }
            }
        }
            
    
            
        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
            .column {
                flex: 50%;
                max-width: 50%;
            }
        }
            
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                flex: 100%;
                max-width: 100%;
            }
        }
    }
}


#post-index {

	#main {

        margin: 40px 2px 20px 2px;
        
        

		@media #{$medium} {
			margin-left: 20px;
			margin-right: 20px;
		}

		@media #{$large} {
			max-width: $column-width;
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	article {

		margin-bottom: 20px;
		@media #{$large} {
			margin-bottom: 30px;
		}
        
        a { 
            img:hover {
                opacity: 0.9;
            }
        }
        blockquote {
            font-size: larger;
        }
        div.iframe-wrap {
            height: 650px;
            iframe.agc2 {
                width: 170%;
                height: 1000px;
                border: none;
                overflow: hidden;
                transform: scale(0.6) translate(-35%, -33%);
            }
        }
    
	}
}

/*--- FOOTER ----------------------------------------------------------------*/

.footer-wrapper {
	margin: 2em auto;
	text-align: center;
	color: lighten($text-color,20);
    font-size: 14px;

    a:link {
        color: darken($text-color,1);
    }
    
	a:hover {
		color: darken($text-color,40);
	}
}

/*--- BROWSER UPGRADE -------------------------------------------------------*/

.upgrade {
	padding: 10px;
	text-align: center;
}

/*--- BODY ------------------------------------------------------------------*/

body {
    font-family: $base-font;
    color: $text-color;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: $body-color;
    margin-top: 0px + $doc-line-height;
    font-size: 0px + $doc-font-size;

    /*--Social media icon bar --- */
    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        a {
            display: block;
            text-align: center;
            padding: 16px;
            transition: all 0.3s ease;
            color: rgb(255, 255, 255);
            font-size: 20px;
        }

        a:hover {
            background-color: #000;
        }

        .github {
            background: #000;
            color: white;
          }
          
          .pdf {
            background: rgb(138, 144, 144);
            color: white;
          }
          
          .google {
            background: #dd4b39;
            color: white;
          }
          
          .linkedin {
            background: #007bb5;
            color: white;
          }
          
          .youtube {
            background: #bb0000;
            color: white;
          }
        
    }
}

/*--- HEADINGS --------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}

h1 {
	@media #{$medium} {
        font-size: 32px;
	}
}